div{
    width: 100%;
    height: 100%;
}
body{
    background: rgb(11,3,20);
    background: linear-gradient(0deg, rgba(11,3,20,1) 0%, rgba(47,17,95,1) 46%, rgba(92,4,140,1) 100%);

    width: 100%;
    height: 100%;
    background-attachment: fixed;
}

table {

    /*Hier änderst du die schrift größe*/
    font-size: 25px;
    /*Macht die Schrift dick kannst du rauslöschen wenn du willst*/
    font-weight: bold;
    max-width: 70%;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    border-spacing: 4px;
}

td {
    text-align: center;
    vertical-align: middle;
    border-color: #005cbf;
    border-width: 10px;
    border-radius: 6px;
    padding: 0px;
}
th {
    width:20%;
}


#body {
    background-color: rgba(175, 30, 30,0);
    opacity: 1;
    transition: all 0.4s ease-in;
    -ms-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    -webkit-transition: all 0.4s ease-in;
    
}

#body.show {
    background-color: rgba(243, 177, 35,1);
    transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
}

#body.show2 {
    background-color: rgba(76, 73, 255,1);
    transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
}

#body.show3 {
  background-color: rgba(69, 255, 44,1);
  transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
}

#headline {
    text-align: center;
    margin-top: 20px;
    font-weight: 700;
    font-family: 'Kanit', sans-serif;
    text-decoration: underline;
    color: whitesmoke;
}

#myTable {
        /*Hier änderst du die schrift größe*/
        font-size: 25px;
        /*Macht die Schrift dick kannst du rauslöschen wenn du willst*/
        font-weight: bold;
        max-width: 70%;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        border-spacing: 4px;
        border-collapse: separate;
}

#myTable>thead>tr>th {
    border-bottom: 0px;
    border-top: 0px;
    color: whitesmoke;
}

#myTable>tbody>tr>td {
    padding: 10px;
    border-spacing: 4px;
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.2);
}

#scoreboard {
    border-spacing: 4px;
    border-collapse: separate;
}

#scoreboard>thead>tr>th {
    padding: 15px;
    border-spacing: 4px;
    vertical-align: bottom;
    border-bottom: 0px;
    border-top: 0px;
    color: whitesmoke;
    font-weight: 500;
}

#scoreboard>tbody>tr>td {
    padding: 15px;
    border-spacing: 4px;
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.2);
}